

<link rel="stylesheet" href="short-survey.component.css">
<form id="short-survey">
    <!-------------------Tittle ---------->
    <h1 id="tittle">Customer Satisfaction Survey</h1>

    <!-- ----------------Questions -------->
    <div class="questions">
        <div>
            <label for="fname" class="label">First Name</label><br>
            <input type="text" id="fname" name="firstname" placeholder="Your name.."> 
        </div>


        <label for="lname">Last Name</label> <br>
        <input type="text" id="lname" name="lastname" placeholder="Your last name.."> <br>


        <button type="submit" value="Submit">
    </div>
    

</form>


 